<center><h2 id='name'><%= @character.house.name %></h2><br></center>
<b>Thane:</b> <%= 
  if @character.house.thane.alias.present?
    @character.house.thane.alias
  else
    @character.house.thane.name.partition(" ").first 
  end
 %><br>
<b>Fledgling Benefit:</b> <%= @character.house.fledglingbenefit %><br>
<b>Established Benefit:</b> <%= @character.house.establishedbenefit %><br>
<b>Banner Benefit:</b> <%= @character.house.bannerbenefit %><br>
<b>Fledgling Plot:</b> <%= @character.house.fledglingplot %><br>
<b>Established Plot:</b> <%= @character.house.establishedplot %><br>
<br>

<b>Members:</b><br>
<%=
  get_house_members(@character.house)
%>