<center><h2 id='name'><%= @character.house.name %></h2><br></center>
<b>Thane:</b> <%= @character.house.thane.get_name %><br>
<b>Fledgling Plot:</b> <%= @character.house.fledglingplot %><br>
<b>Established Plot:</b> <%= @character.house.establishedplot %><br>
<br>

<b>Members:</b><br>
<%=
  get_house_members(@character.house)
%>