<%= provide(:title, 'XP Store') %>
<div class="container col-12 mt-4 mb-2" id="xpstore">
  <b>Available XP for XP Store:</b> <%= available_xp %><br>
  <b>XP Spent Since Last Game (Excludes Graven):</b> <%= spent_xpstore_xp %><br>
  <br>
  <b>You will receive the item as an item card. Items cannot be used on others, are not lootable and not tradeable unless otherwise noted.<br>
  All items cards must be returned at Check-Out. (Excludes Dedrots Favors)<br></b>
  
  <% 
    tier1skills = xpstore_tier1_skills
    tier2skills = xpstore_tier2_skills
    tier3skills = xpstore_tier3_skills
    collectorprofessions = xpstore_collecting
    refiningprofessions = xpstore_refining
    craftingprofessions = xpstore_crafting
  %>

  <div class="mb-2" id="xpstorecategory">
    Skills
  </div>
  <div class="row">
    <div class="container" id="itemcontainer">
      <h3>Tier 1</h3>
        A single use of a non-permanenet Tier 1 skill. This can exceed the 10 purchase maximum.<br>
        Lasts until the end of the next event.
      <br>

      <%= bootstrap_form_for :skillpurchase, url: character_spendxp_path(item: 'Tier1') do |f| %>
        <%= select_tag :skillpurchase, options_for_select(tier1skills) %><br>
        <%= get_xpstore_link('Tier1') %>
      <% end %>

    </div>
    <div class="container" id="itemcontainer">
      <h3>Tier 2</h3>
        A single use of a non-permanenet Tier 2 skill. This can exceed the 10 purchase maximum.<br>
        Lasts until the end of the next event.
      <br>

      <%= bootstrap_form_for :skillpurchase, url: character_spendxp_path(item: 'Tier2') do |f| %>
        <%= select_tag :skillpurchase, options_for_select(tier2skills) %><br>
        <%= get_xpstore_link('Tier2') %>
      <% end %>

    </div>
    <div class="container" id="itemcontainer">
      <h3>Tier 3</h3>
        A single use of a non-permanenet Tier 3 skill. This can exceed the 10 purchase maximum.<br>
        Lasts until the end of the next event.
      <br>

      <%= bootstrap_form_for :skillpurchase, url: character_spendxp_path(item: 'Tier3') do |f| %>
        <%= select_tag :skillpurchase, options_for_select(tier3skills) %><br>
        <%= get_xpstore_link('Tier3') %>
      <% end %>
    </div>
  </div>

  <div class="mb-2" id="xpstorecategory">
    Items
  </div>
  <div class="row">
    <div class="container" id="itemcontainer">
      <h3>Body Panacea</h3>
        A single-use consumable that will remove Poison, Disease, Weakness, Waylay, and all Maimed limbs.<br>
        Lasts until the end of the next event.
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'BodyPanacea') do |f| %>
        <%= get_xpstore_link('BodyPanacea') %>
      <% end %>
    </div>
    <div class="container" id="itemcontainer">
      <h3>Spirit Panacea</h3>
        A single-use consumable that will remove Bind, Pin, Snare, Paralyze, Sleep, and Silence.<br>
        Lasts until the end of the next event.
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'SpiritPanacea') do |f| %>
        <%= get_xpstore_link('SpiritPanacea') %>
      <% end %>
    </div>
    <div class="container" id="itemcontainer">
      <h3>Mind Panacea</h3>
        A single-use consumable that will Dispel Fear, Taunt, Corrupt, Pacify, and Enslave.<br>
        Lasts until the end of the next event.
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'MindPanacea') do |f| %>
        <%= get_xpstore_link('MindPanacea') %>
      <% end %>
    </div>
  </div>

  <div class="mb-2" id="xpstorecategory">
    Professions
  </div>
  <div class="row pl-10">
    <div class="container" id="itemcontainer">
      <p>Profession purchases will not increase your labor pool and cannot be used to experiment. <br>
      Actions using this still costs the appropriate labor. <br>
      You may only purchase a single Profession this way per event.</p>
    </div>
  </div>
  <div class="row">
    <div class="container" id="itemcontainer">
      <h3>Collecting</h3>
        Allows access to a single Novice Collector Profession until the end of the next event.
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'Collecting') do |f| %>
        <%= select_tag :itempurchase, options_for_select(collectorprofessions) %><br>
        <%= get_xpstore_link('Collecting') %>
      <% end %>
    </div>
    <div class="container" id="itemcontainer">
      <h3>Refining</h3>
        Allows access to a single Novice Refining Profession until the end of the next event.
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'Refining') do |f| %>
        <%= select_tag :itempurchase, options_for_select(refiningprofessions) %><br>
        <%= get_xpstore_link('Refining') %>
      <% end %>
    </div>
    <div class="container" id="itemcontainer">
      <h3>Crafting</h3>
        Allows access to a single Novice Crafting Profession until the end of the next event.
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'Crafting') do |f| %>
        <%= select_tag :itempurchase, options_for_select(craftingprofessions) %><br>
        <%= get_xpstore_link('Crafting') %>
      <% end %>
    </div>
  </div>

  <div class="mb-2" id="xpstorecategory">
    Heroic Actions
  </div>
  <div class="row">
    <div class="container" id="itemcontainer">
      <h3>Second Wind</h3>
        A single-use token that allows you to immediately gain the benfits of a Short Rest.<br>
        May only purchase once per event.
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'SecondWind') do |f| %>
        <%= get_xpstore_link('SecondWind') %>
      <% end %>
    </div>
    <div class="container" id="itemcontainer">
      <h3>Luck Token</h3>
        A single-use token that allows you to immediately gain the use of a single Long Rest ability.<br>
        May only purchase once per event. 
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'LuckToken') do |f| %>
        <%= get_xpstore_link('LuckToken') %>
      <% end %>
    </div>
  </div>

  <div class="mb-2" id="xpstorecategory">
    Premier Cabins
  </div>
  <div class="row">
    <div class="container" id="itemcontainer">
      <%= image_tag("pages/xpstore/juniper.png", :class => "img-fluid  mx-auto d-block") %><br>
      <h3>Juniper Cabin</h3>
        Located next to the Dancing Dragonfly, this cabin sleeps 12 and has lights and a bathroom. Purchasing this will update your attendence to that event to Juniper. Should you have multiple parties interested, they must all purchase this.<br>
        This is non-refundable should you change your mind and wish to select a different cabin.
      <br>
      <%= bootstrap_form_for :cabinpurchase, url: character_spendxp_path(item: 'Juniper') do |f| %>
        <% if !xpstore_cabinlist_juniper.empty? %>
          <%= select_tag :cabinpurchase, options_for_select(xpstore_cabinlist_juniper) %><br>
        <% end %>
        <%= get_xpstore_link('Juniper') %>
      <% end %>
    </div>

    <div class="container" id="itemcontainer">
      
      <h3>Weeping Willow - Left Cabin</h3>
        Located next to the bridge to The Glade, this cabin sleeps 4 and has lights and a bathroom with a shower. Purchasing this will update your attendence to that event to Weeping Willow - Left. Should you have multiple parties interested, they must all purchase this.<br>
        This is non-refundable should you change your mind and wish to select a different cabin.
      <br>
      <%= bootstrap_form_for :cabinpurchase, url: character_spendxp_path(item: 'WeepingWillow') do |f| %>
        <% if !xpstore_cabinlist_weepingwillow.empty? %>
          <%= select_tag :cabinpurchase, options_for_select(xpstore_cabinlist_weepingwillow) %><br>
        <% end %>
        <%= get_xpstore_link('WeepingWillow') %>
      <% end %>
    </div>
  </div>
  
  <div class="mb-2" id="xpstorecategory">
    Dedrots Favors
  </div>
  <div class="row">
    <div class="container" id="itemcontainer">
      <%= image_tag("pages/xpstore/good_fortune.jpg", :class => "img-fluid") %><br>
      <h3>Description</h3>
      Remove one die from your total roll. You can remove one die for each Good Fortune card you redeem before you start rolling.
      <h3>Information</h3>
      <b>Cost:</b> This card costs 250 XP and remains the same with each purchase.<br>
      <b>Game Status:</b> This card is considered to be "Out of Game" and is NOT stealable.<br>
      <b>Treasure:</b> This card may be found as treasure or kept if found on the ground.<br>
      <b>Card Availability:</b> You MUST have this card with you when you enter Arcanestå realm or it cannot be used.<br>
      <b>Sharing Cards:</b> You may share this card with someone else as long as they have not already become a spirit.<br>
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'GoodFortune') do |f| %>
        <%= get_xpstore_link('GoodFortune') %>
      <% end %>
    </div>
    <div class="container" id="itemcontainer">
      <%= image_tag("pages/xpstore/graven_miracle.jpg", :class => "img-fluid") %><br>
      <h3>Description</h3>
      If you reach or exceed 15 points and perish, you may turn in this card to escape dying.
      <h3>Information</h3>
      <b>Cost:</b> This card cost 500 XP and doubles with each purchase.<br>
      <b>Game Status:</b> This card is considered to be "Out of Game" and is NOT stealable.<br>
      <b>Card Lost & Found:</b> If you find a Graven Miracle, please turn it in. If you lose a Graven Miracle and do not find it, you will need to purchase a new one.<br>
      <b>Card Availability:</b> You MUST have this card with you when you enter Arcanestå realm or it cannot be used.<br>
      <b>Sharing Cards:</b> You may NOT share this card with someone else.<br>
      <br>
      <%= bootstrap_form_for :itempurchase, url: character_spendxp_path(item: 'GravenMiracle') do |f| %>
        <%= get_xpstore_link('GravenMiracle') %>
      <% end %>
    </div>
  </div>
</div>