<%= provide(:title, 'Transfer XP') %>
<div class="container col-12">
  <div class="pagetitle">Transfer XP</div>
  <div class="pagesubtitle" >Send XP to a Friend</div>

  <div class="container col-10">
    <div class="row bg-light">
      <div class="col-sm">
        Total Available XP: <%= available_xp %>
      </div>
      <div class="col-sm">
        Total Earned XP: <%= total_xp %>
      </div>
    </div>
  </div>

  <br>

  <%= bootstrap_form_for :xptransfer, url: player_transferxp_path, id: 'transferxpform' do |f| %>
    <%= f.text_field :emailaddress, :required => true, placeholder: 'Email Address', hide_label: true %>
    <p id ="emailvalidation"></p>
    <%= f.text_field :amount, :required => true, placeholder: 'XP Amount', hide_label: true %>
    <p id ="amountvalidation"></p>
    <%= link_to '<button type="button" class="btn btn-secondary">Back</button>'.html_safe, player_explog_path %>
    <button type="submit" class="btn btn-primary" id="submitbutton">Submit</button>
  <% end %>
</div>

<script>
  function validateEmail() {
    returncode = 'false'
    $.ajax({
      url: '/player/validateemail',
      type: 'GET',
      async: false,
      dataType: 'json',
      data: {email: document.getElementById('xptransfer_emailaddress').value},
      success: function(data){
        if (data.response == 'true') {
          document.getElementById("emailvalidation").innerHTML = 'Email Address Validated';
          returncode = 'true';
        } else {
          document.getElementById("emailvalidation").innerHTML = 'Invalid Email Address';
        }

      }
    })
    return returncode;
  }
  function validateAmount() {
    returncode = 'false'
    $.ajax({
      url: '/player/validatexpamount',
      type: 'GET',
      async: false,
      dataType: 'json',
      data: {xpamount: document.getElementById('xptransfer_amount').value},
      success: function(data){
        if (data.response == 'true') {
          document.getElementById("amountvalidation").innerHTML = 'XP Amount Validated';
          returncode = 'true';
        } else {
          document.getElementById("amountvalidation").innerHTML = 'Invalid XP Amount';
        }
      }
    })
    return returncode;
  }

  $('form').submit(function(e) {  
    if (validateEmail() == 'true') {
      if (validateAmount() == 'true') {
        return true
      }
    }
    return false
  });

</script>