<%= provide(:title, 'Camp Details') %>
<div class="container col-12  mt-4" id="camppage">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/camp/camp-header.jpg", :class => "img-fluid mx-auto d-block", :id => "campheader") %><br>
    </div>
  </div>
  <div class="row">
    <div class="container col-12">
      Myth takes place at the Windham-Tolland 4-H Camp in Pomfret Connecticut. The camp address is 326 Taft Pond Rd, Pomfret Center, CT 06259.
      <center>
        <div id="tourlink">
          <a href = "https://www.kuula.co/share/7FTj5/collection/7lb0f", target="_blank">
            <div id="tourbutton">
              <i class="fas fa-dice"></i>Take a 360 Degree Tour of the Site!
            </div>
          </a>
        </div>
      </center>
    </div>
  </div>

  <div class="row">
    <div class="container col-12">
      <ul class="nav nav-tabs" id="camptabbar" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active %>" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="rules-tab" data-bs-toggle="tab" data-bs-target="#rules" type="button" role="tab" aria-controls="rules" aria-selected="false">Camp Rules</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="arrival-tab" data-bs-toggle="tab" data-bs-target="#arrival" type="button" role="tab" aria-controls="arrival" aria-selected="false">Arrival At Myth</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="thingsyouneed-tab" data-bs-toggle="tab" data-bs-target="#thingsyouneed" type="button" role="tab" aria-controls="thingsyouneed" aria-selected="true">Things You Need</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="sleepcabins-tab" data-bs-toggle="tab" data-bs-target="#sleepcabins" type="button" role="tab" aria-controls="sleepcabins" aria-selected="true">Sleeping: Cabins</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="tents-tab" data-bs-toggle="tab" data-bs-target="#tents" type="button" role="tab" aria-controls="tents" aria-selected="true">Sleeping: Tents</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="sleeptavern-tab" data-bs-toggle="tab" data-bs-target="#sleeptavern" type="button" role="tab" aria-controls="sleeptavern" aria-selected="true">Sleeping: Tavern</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12">
      <div class="tab-content" id="campTabContent">
        <div class="tab-pane fade show active %>" id="general" role="tabpanel" aria-labelledby="general-tab">
          <%= render partial: 'pages/camptabs/general' %>
        </div>
        <div class="tab-pane fade" id="rules" role="tabpanel" aria-labelledby="rules-tab">
          <%= render partial: 'pages/camptabs/rules' %>
        </div>
        <div class="tab-pane fade" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
          <%= render partial: 'pages/camptabs/arrival' %>
        </div>
        <div class="tab-pane fade" id="thingsyouneed" role="tabpanel" aria-labelledby="thingsyouneed-tab">
          <%= render partial: 'pages/camptabs/thingsyouneed' %>
        </div>
        <div class="tab-pane fade" id="sleepcabins" role="tabpanel" aria-labelledby="sleepcabins-tab">
          <%= render partial: 'pages/camptabs/sleepcabins' %>
        </div>
        <div class="tab-pane fade" id="tents" role="tabpanel" aria-labelledby="tents-tab">
          <%= render partial: 'pages/camptabs/tents' %>
        </div>
        <div class="tab-pane fade" id="sleeptavern" role="tabpanel" aria-labelledby="sleeptavern-tab">
          <%= render partial: 'pages/camptabs/sleeptavern' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <h3>The Glade</h3>
    </div>
    <div class="col-6">
      <h3>The Crossing</h3>
    </div>
  </div>
  <div class="row cabinmaps">
    <div class="col-6">
      <%= image_tag("events/the_glade.jpg") %>
    </div>
    <div class="col-6">
      <%= image_tag("events/the_crossing.jpg") %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <h3>The Town Proper</h3>
    </div>
  </div>
  <div class="row cabinmaps">
    <div class="col-12">
      <%= image_tag("events/town_proper.jpg") %>
      <br>
    </div>
  </div>
</div>

