<div class="container col-12 mt-4" id="communitypage">
  <p class="h1 text-center">Community Library</p>
  <p>The below resources are created by members of our community. Please feel free to reach out to each individual owner should you wish to futher expand them. If you have any resources you’d like to have added, please reach out to support@mythlarp.com or on Discord.</p>
  <p class="h4">Out of Game Resources</p>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1zU9bYhbFfTDMeXAkQRQQpLvD9e6cXGtGIoLD2gZ6_6k" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          What to Pack for LARP
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1yPO0UbYUDEWFCbiaRAIvT7eWwjMUJxyHKFPbNKias7o" target="_blank"> 
        <div>
          <%= fa_icon "book" %><br>
          Cold Weather Suggestions
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1y9T41QgDCvJ7hT8zvH9FgrEmOXR9Zr-WziPljsQZ0xY" target="_blank"> 
        <div>
          <%= fa_icon "book" %><br>
          Make Up Tips for LARP
        </div>
      </a>
    </div>
  </div>
  <p class="h4">In-Game Resources</p>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1ZJGTIb40vcV9zGl__78PpcClkIuWJKxKZ4bDvrRKORk" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          Tome of Foes
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/17oogSbnESQtfO1lrVd2a_Z1cWuefm3BOeI2vDHoavP0" target="_blank"> 
        <div>
          <%= fa_icon "book" %><br>
          Crafting Guide
        </div>
      </a>
    </div>
    <div class="container col-3">
    </div>
  </div>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3">
      The Tome of Foes is a reference guide to the creatures in and around Damar Keep, compiled from firsthand accounts of the town’s citizens, and edited by the town curator.
    </div>
    <div class="container col-3">
      The Crafting Guide is a reference document to help aid in the profession system in Myth and to aid players in maximizing their crafting potentials.
    </div>
    <div class="container col-3">
    </div>
  </div>
</div>