<%= provide(:title, 'Community Library') %>
<div class="container col-12 mt-4" id="communitypage">
  <p class="h1 text-center">Community Library</p>
  <p>The below resources are created by members of our community. Please feel free to reach out to each individual owner should you wish to futher expand them. If you have any resources you’d like to have added, please reach out to support@mythlarp.com or on Discord.</p>
  <p class="h4">Out of Game Resources</p>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1zU9bYhbFfTDMeXAkQRQQpLvD9e6cXGtGIoLD2gZ6_6k" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          What to Pack for LARP
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1yPO0UbYUDEWFCbiaRAIvT7eWwjMUJxyHKFPbNKias7o" target="_blank"> 
        <div>
          <%= fa_icon "book" %><br>
          Cold Weather Suggestions
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1y9T41QgDCvJ7hT8zvH9FgrEmOXR9Zr-WziPljsQZ0xY" target="_blank"> 
        <div>
          <%= fa_icon "book" %><br>
          Make Up Tips for LARP
        </div>
      </a>
    </div>
  </div>
  <p class="h4">In-Game Resources</p>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1ZJGTIb40vcV9zGl__78PpcClkIuWJKxKZ4bDvrRKORk" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          Tome of Foes
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/17oogSbnESQtfO1lrVd2a_Z1cWuefm3BOeI2vDHoavP0" target="_blank"> 
        <div>
          <%= fa_icon "book" %><br>
          Crafting Guide
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/spreadsheets/d/1WVBXYQez0bHoJY0w3vHpBjONg5G3iblgmL1-8Yl14Gs" target="_blank"> 
        <div>
          <%= fa_icon "book" %><br>
          Base Profession Tools
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3">
      A guide to the creatures around Damar Keep, compiled from firsthand accounts, and edited by the town curator.
    </div>
    <div class="container col-3">
      A guide to help with the profession system and to aid players in maximizing their crafting potential.
    </div>
    <div class="container col-3">
      Base tools used by the professions that can be created via the crafting system.
    </div>
  </div>

  <div class="row mt-4" id="librarylinks">
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/11vTqOsUFzk1uA4vJFhT7sut0rVWVyBiHhkgEYxWH9TU" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          Runesmith Primer
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://drive.google.com/file/d/1lcHVRtFpLxUj7y2uuXdPzJ6qHs87J-_1" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          Lore Library
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/file/d/1_lc2cPZDe6mijfar-GBeWhWHfSOqTLQx" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          Liber Arcana Ritualis
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3">
      A guide to the crafting of Runes for weapons, shields and armor.
    </div>
    <div class="container col-3">
      A book that fills with lore about the world of Hyraeth. Its pages magically fill with new information from time to time.
    </div>
    <div class="container col-3">
      A book on the powers of rituals, including how to write and perform them.
    </div>
  </div>

  <div class="row mt-4" id="librarylinks">
    <div class="container col-3" id="link">
      <a href="https://docs.google.com/document/d/1Wg1dpnrcG-XZ1_Ypeu_hqrA-nYz0vNZ_GJmg0-cGbY8" target="_blank">
        <div>
          <%= fa_icon "book" %><br>
          The Compendium Maledicta
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      
    </div>
    <div class="container col-3" id="link">
      
    </div>
  </div>
  <div class="row mt-4" id="librarylinks">
    <div class="container col-3">
      A snippet from a lost book containing information on curses in the world.
    </div>
    <div class="container col-3">
      
    </div>
    <div class="container col-3">

    </div>
  </div>
  
</div>