<%= provide(:title, 'Damar Keep') %>
<div class="container col-12 mt-4">
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h1 text-center">Damar Keep</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-2"><center>
      <%= image_tag("pages/town/countscolors.png", :class => "img-fluid mx-auto d-block") %>
      </center>
    </div>
    <div class="container col-6">
      <%= link_to image_url("pages/town/damarkeep.png"), target: ':_blank' do %>
        <%= image_tag("pages/town/damarkeep_thumb.png", :class => "img-fluid mx-auto d-block") %>
      <% end %>
    </div>
    <div class="container col-2">
      <%= image_tag("pages/town/countscolors.png", :class => "img-fluid mx-auto d-block") %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h3">History</p>
      <p>Southeast of Ivygate, a small out of the way town rises out of a dense forest. Many tales surround this small collection of buildings around Lake Damar. Many nobles have sought to settle the place, and many have failed. Most recently, in the year 718, Baron Blythe and his daughter tried. We never met the Baron, and when the Baroness Lyra Blythe disappeared, Countess Seabrooke took over as a courtesy. However, the countess soon turned to love and treason, and left the town behind. Many residents soon followed her in leaving, spreading to the four winds. Those that remained faced a harsh uncertain winter. Then King Marielle appointed Count Amadeo Sebastian Orsini, The Holy See and his advisor, to take custody of the Keep and the town surrounding it. The Count now rules the area. There are also 9 established families in the area, each with their own trade. </p>
      <p>There are many things happening in Damar Keep these days. Roark Galt bought the Dancing Dragonfly, and it is running well. There are tents dotting the yard, and people milling about them as they go about their business. The trails leading away from the tavern are shaded with trees, heading to the forest. In the forest, you might come across the Druid Grove. The animals seem to keep a closer watch here, as do the surrounding trees and plants. You also might come to the Graveyard. A little further up the trail, a large fire circle sits next to a smaller lake. The forest yawns around the area continuing off into the forest. Creatures both friend and foe lie in these woods, and in the town itself. Are you brave enough to meet them?</p>
      <p class="h3">Amenities</p>
      <p>Visitors to Damar Keep can stay in the tavern, The Dancing Dragonfly, or one of the many cabins surrounding Damar Lake. Stop inside the Dancing Dragonfly to take advantage of some of the services offered.
      <ul>
        <li>Buy some local and imported ales for one copper coin</li>
        <li>Convince the bartender to share some <b>town gossip</b> for one silver coin</li>
        <li>Buy a <b>lotto ticket</b> from the bartender for one silver and try to win the pot. If you are a fresh face in town, enjoy a one time discount of five copper. Winners are chosen at dinner and tickets are good for the gather.</li>
        <li>Look at the postings from the <b>Adventurer’s Guild’s Quest Board</b>. They are always looking for materials and pay in items rarer than what they asked for</li>
      </ul></p>
      <p>Looking to stay in town and need some work? Check out the town positions or talk to the tavern keep about working as a bartender. There is always work to be had in town for those willing to lend a hand.</p>
      <p class="h3">Quick Facts</p>
      <p>Damar Keep is home to 400-600 residents with a monthly transient migration of 100 or so individuals. Being a frontier town, its a great location for travelers to stop along their trail. Within its lands, there are nine prominent families that have made their mark on the land.
      <ul>
        <li>Bandyabouts - Entertainers and Experts on Relaxation</li>
        <li>Beckets - Lumberjacks, Woodworkers and Architects</li>
        <li>Behrends - Fruit Growers</li>
        <li>Cantors - Vintors</li>
        <li>Crimsonvines - Merchants and Traders</li>
        <li>Godleys - Grain Farmers and Miners</li>
        <li>Oakes - Potters</li>
        <li>Reeds</li>
        <li>Shipleys - Fishers</li>
      </ul></p>
      <p class="h3">Guild Chapters</p>
      <p>Despite its small size and frontier nature, Damar Keep is host to several local chapters of guilds in Hyraeth. These guilds provide services for the citizens of the town and their chapters get visitors from across Hyraeth. Ask around to find your local guild master if you are interested in joining or to hire their services.
      <ul>
        <li>Alchemist Guild</li>
        <li>Fighters Guild</li>
        <li>Mages Guild</li>
        <li>Paladins Council</li>
      </ul>
    </div>
  </div>
</div>