Details on upcoming events moving here soon!<br>
In the meantime, visit the old site here: <a href='https://www.mythlarp.com/register-for-events/'>https://www.mythlarp.com/register-for-events/</a>
<br>
<br>
<div class="container col-12 mt-4 mb-2" id="eventpage">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/events/event-header.jpg", :class => "mx-auto d-block") %>
    </div>
  </div>

  <% Event.all.where('startdate > ?', DateTime.now).each do |event|  %>
  <div class="row" id="eventspace">
    <div class="container col-12" id="eventname">
      <%= event.name  %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="eventdetails">
      Dates: <%= event.startdate.strftime("%m/%d/%Y")  %> - <%= event.enddate.strftime("%m/%d/%Y")  %><br>
    </div>
  </div>
  <div class="row">
    <div class="container col-6" id="eventplay">
      <%= getEventPlayLink(event) %>
      
    </div>
    <div class="container col-6" id="eventcast">
      
      <%= getEventCastLink(event) %>
    </div>
  </div>
  <% end %>