<%= provide(:title, 'My Events') %>
<div class="container col-11">
<div class="pagetitle">Event List</div>
<div class="pagesubtitle" >A list of events attended as <%= @character.name %></div>

<table class="table table-hover table-bordered table-sm">
 <thead class="thead-dark">
  <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Sleeping Arrangement</th>
      <th>Meal Plan</th>
      <th>Feedback</th>
  </tr>
  </thead>
  <tbody>
    <% @character.events.order('startdate desc').each do |event| %>
      <tr class="table-light">
        <td>
          <%= link_to event.name, event_path(event.id) %>
        </td>
        <td><%= event.startdate %></td>
        <td><%= event.enddate %></td>
        <td>
          <%= 
            if event.eventattendances.find_by(user_id: current_user).cabin.present?
              event.eventattendances.find_by(user_id: current_user).cabin.name
            else
              if event.startdate > Date.today
                link_to 'None - Update Today!', event_path(event.id)
              else
                link_to 'None', event_path(event.id)
              end
            end
          %>
        </td>
        <td><%= get_mealplan_link(event) %> </td>
        <td><%= get_feedback_link(event) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
