<h3>Brew of the Month Club</h3>
<p>
  The brew of the month club is a great way to get free drinks in the tavern for the event. Buying this ticket allows you access to soda, coffee and powdered drink mixes.
</p>
<h3>Meal Plan</h3>
<p>
  The meal includes breakfast on Saturday and Sunday along with dinner on Saturday evening.
  It also includes a ticket into the brew of the month club for free drinks game.
</p>
<p>
  <%= simple_format(@event.mealplandetails.html_safe)%>
</p>

<%= bootstrap_form_for :mealplan, url: event_submitfeedback_path do |f| %>
  <%= f.select :mealchoice, @mealoptions, required: true, label: 'Choose your meal plan' %>
<% end %>

  <b>Purchase a meal plan today! </b>
</p>
<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=<%= escape_javascript ENV['PAYPAL_CLIENT_ID'] %>" ></script>
<script>
  paypal.Buttons({
    env: '<%= escape_javascript ENV['PAYPAL_ENV'] %>',
    createOrder: async () => {
      const response = await fetch('ordermealplan/', {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({meal_type: document.getElementById("mealplan_mealchoice").value})
      });
      const responseData = await response.json();
      $('#mealplan_mealchoice').prop('disabled',true)
      return responseData.token;
    },
    onApprove: async (data) => {
      const response = await fetch('processmealplanorder/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({order_id: data.orderID, meal_type: document.getElementById("mealplan_mealchoice").value})
      });
      
      const responseData = await response.json();

      if (responseData.status === 'COMPLETED') {
        window.location.href = '/event/';
      }
    }
  }).render('#paypal-button-container');
</script>