<%= provide(:title, 'Event Details') %>
<div class="container col-12">
<div class="pagetitle"><%= @event.name %></div>
<div class="pagesubtitle" ><%= @event.description %></div>

<div class="text-center"><strong>Start Date:</strong> <%= @event.startdate %>  -to-  <strong>End Date:</strong> <%= @event.enddate %></div>

<hr>
<div class="container col-12" id = "cabinmap">
  <div class="row">
    <div class="col-12">
      <b>Your Cabin: </b><%= 
        if @myeventattendance.cabin.present?
          if canUpdateCabin()
            link_to @myeventattendance.cabin.name, event_updatecabin_path(@event), remote: true
          else
            @myeventattendance.cabin.name
          end
        else
          if canUpdateCabin()
            link_to 'None - Update Now', event_updatecabin_path(@event), remote: true
          else
            'None'
          end
        end
      %>
        
      </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= image_tag("events/the_crossing.jpg") %>
    </div>
    <div class="col-6">
      <%= image_tag("events/the_glade.jpg") %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= get_resident_players(@event,'The Crossing') %>
    </div>
    <div class="col-6">
      <%= get_resident_players(@event,'The Glade') %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= image_tag("events/town_proper.jpg") %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= get_resident_players(@event,'Town Proper') %>
      <hr>
      The following individuals have not yet selected a cabin<br>
      <%= get_homeless_players(@event) %>
    </div>
  </div>
</div>
<div class="modal fade" id="updateCabinModal" tabindex="-1" role="dialog" aria-labelledby="updateCabinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateCabinModalLabel">Update Cabin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body" id="updateCabinModalBody"></div>
    </div>
  </div>
</div>
