<%= provide(:title, 'Event Details') %>
<div class="container col-12">
  <div class="pagetitle"><%= @event.name %></div>
  <div class="pagesubtitle" ><%= @event.theme %></div>

  <div class="text-center"><strong>Start Date:</strong> <%= @event.startdate %>  -to-  <strong>End Date:</strong> <%= @event.enddate %></div>

  <hr>
  <center>
    <%= @event.description %><br>
  </center>

  <center>
    <% if @event.context.attached? %>
      <p class="h3">Event Without Context</p>
      <%= image_tag @event.context, size: '350x350', :class => "img-fluid" %>
    <% end %>
  </center>
  <br><br>
  <p class="h3">Your Registration Details</p>
  Registration: <%= @myeventattendance.registrationtype %><br>
  Meal Plan: <%= get_mealplan_link(@event) %> <br> 
  <% if has_cabin(@myeventattendance) %>
    Cabin: <%= get_cabin_link(@myeventattendance) %> <br>
  <% end %>
 
  <center>
    <%= link_to event_playerlist_path(@event.id) do %>
      <%= image_tag("events/cabin.png", :class => "img-fluid mx-auto") %><br>
      <b>View Registered Players</b>
    <% end %>
  </center>
  
  <div class="modal fade" id="updateCabinModal" tabindex="-1" role="dialog" aria-labelledby="updateCabinModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCabinModalLabel">Update Sleeping Arrangement</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body" id="updateCabinModalBody"></div>
      </div>
    </div>
  </div>

</div>
