<%= provide(:title, 'Submit Feedback') %>
<div class="container col-12">
  <div class="pagetitle"><%= @event.name %></div>
  <div class="pagesubtitle" ><%= @event.description %></div>
  <div class="text-center"><strong>Start Date:</strong> <%= @event.startdate %>  -to-  <strong>End Date:</strong> <%= @event.enddate %></div>
</div>
<hr>
<div class="container col-12">
    <p class = "h2 text-center">Your Feedback Is Important</p>
    <p>Your feedback is essential to us, which is why we award XP for giving it. Telling us about your experience, good or bad, means that we can better understand what is important to you, what we are doing well, and where we need to make improvements.</p>
    <p>Your feedback helps us to:</p>
    <ul>
      <li>Make sure we pay attention to what makes the event fun for our friends.</li>
      <li>Improve and enhance the Myth experience for everyone involved (players and NPCs).</li>
      <li>Improve the stories we tell and the decisions we make going forward.</li>
      <li>Ensure we remain transparent about improvements.</li>
    </ul>
    <p>If there is something we are doing well or could do better, we want your constructive feedback. If you didn’t like something? How could we improve upon it in the future?</p>
    <p>Please note: feedback should be related to the event and plots ran during this specific event. If there are concerns in regards to rules, players, cast or decisions made by staff, please email feedback@mythlarp.com</p>
    <p>Some of these feedbacks will post to Discord!</p>
  <hr>

</div>
  <%= bootstrap_form_for :eventfeedback, url: event_submitfeedback_path do |f| %>
    
    <%= f.text_area :feedback, :required => true, label: 'What aspects of the event did you enjoy the most, and what areas do you believe could be improved? Please provide specific examples.' %>
    <%= f.text_area :eventorganization, :required => true, label: 'How satisfied were you with the overall event organization, including scheduling, communication, and staff interactions? Please provide any suggestions for improvement.' %>
    <%= f.text_area :charactergoals, :required => true, label: "What are your character's primary goals, and how do you plan to pursue these goals during the next event?" %>
    <%= f.text_area :charactergoalactions, :required => true, label: 'What steps has your character taken so far to achieve their goals? Were there any obstacles or challenges encountered during the event that affected your progress?' %>
    <%= f.text_area :whatdidyoudo, :required => true, label: 'What specific activities or encounters did your character participate in during the event? Were there any memorable moments or experiences you would like to share?' %>
    <%= f.text_area :professions, :required => true, label: "Are you actively engaged with your character's profession? If so, how has the event contributed to your profession's development or storyline?" %>
    
    <%= f.text_area :combatvsnoncombat, :required => true, label: "How would you rate the balance between combat and non-combat encounters during the event? Are there any types of encounters or activities you would like to see more of in future events?" %>
    <% if can_rewrite_character() %>
      <%= f.text_area :newplayers, :required => true, label: "Did you feel the event provided adequate support and resources for new players? If not, what suggestions do you have for improving the new player experience?" %>
    <% end %>
    <%= f.text_area :immersion, :required => true, label: "How well did the event maintain immersion and role-playing quality? Were there any instances where you felt immersion was disrupted, and if so, how could these be addressed in future events?" %>
    
    <h2>Discord Feedback</h2>
    <p>The following are submitted to our Feedback Zone on Discord! Please be mindful of what you post.</p>
    <%= f.text_area :standoutnpc, :required => true, label: 'What NPC stands out to you and why?', :maxlength => 1000 %>
    <%= f.text_area :standoutplayer, :required => true, label: 'What Player stands out to you and why?', :maxlength => 1000 %>
    <%= f.text_area :memorablemoment, :required => true, label: 'What is a memorable moment you would like to share with everyone?', :maxlength => 1000 %>
    <%= f.submit 'Submit Feedback', class: "btn btn-success" %>
    <%= link_to 'Cancel', root_path, class: "btn btn-danger" %>
  <% end %>
<br>