<div class="container col-12">
<div class="pagetitle"><%= @event.name %></div>
<div class="pagesubtitle" ><%= @event.description %></div>
<div class="text-center"><strong>Start Date:</strong> <%= @event.startdate %>  -to-  <strong>End Date:</strong> <%= @event.enddate %></div>
<hr>
<%= bootstrap_form_with(model: @eventfeedback, url: event_submitfeedback_path) do |f| %>
  <%= f.text_area :feedback, :disabled => true, label: 'Do you have any constructive feedback for Myth?' %>
  <%= f.text_area :standoutnpc, :disabled => true, label: 'What NPCs Stand Out to You, if Any, And Why?' %>
  <%= f.text_area :nexteventplans, :disabled => true, label: 'What are your plans for the next event?' %>

  <%= f.text_area :charactergoals, :disabled => true, label: 'What is Your Characters number 1 goal?' %>
  <%= f.text_area :charactergoalactions, :disabled => true, label: 'What steps have you taken to reach your goal so far?' %>
  <%= f.text_area :whatdidyoudo, :disabled => true, label: 'What Did Your Character do During The Event?' %>
  <%= f.text_area :professions, :disabled => true, label: 'Are you doing anything with your profession?' %>
  <%= link_to 'Close', player_events_path, class: "btn btn-danger" %>
<% end %>
<br>