<div class="container col-12">
  <div class="pagetitle"><%= @event.name %></div>
  <div class="pagesubtitle" ><%= @event.description %></div>
  <div class="text-center"><strong>Start Date:</strong> <%= @event.startdate %>  -to-  <strong>End Date:</strong> <%= @event.enddate %></div>
  <hr>
  <%= bootstrap_form_with(model: @eventfeedback, url: event_submitfeedback_path) do |f| %>

    <% if @eventfeedback.created_at < '2023-05-01'.to_date %>
    
      <%= f.text_area :feedback, :disabled => true, label: 'Do you have any constructive feedback for Myth?' %>
      <%= f.text_area :standoutnpc, :disabled => true, label: 'What NPCs Stand Out to You, if Any, And Why? - Note: This will be posted to Discord' %>
      <%= f.text_area :nexteventplans, :disabled => true, label: 'What are your plans for the next event?' %>
  
      <%= f.text_area :charactergoals, :disabled => true, label: 'What is Your Characters number 1 goal?' %>
      <%= f.text_area :charactergoalactions, :disabled => true, label: 'What steps have you taken to reach your goal so far?' %>
      <%= f.text_area :whatdidyoudo, :disabled => true, label: 'What Did Your Character do During The Event?' %>
      <%= f.text_area :professions, :disabled => true, label: 'Are you doing anything with your profession?' %>

    <% else %>
    
      <%= f.text_area :feedback, :disabled => true, label: 'What aspects of the event did you enjoy the most, and what areas do you believe could be improved? Please provide specific examples.' %>
      <%= f.text_area :standoutnpc, :disabled => true, label: 'What NPCs Stand Out to You, if Any, And Why? - Note: This will be posted to Discord' %>
      <%= f.text_area :eventorganization, :disabled => true, label: 'How satisfied were you with the overall event organization, including scheduling, communication, and staff interactions? Please provide any suggestions for improvement.' %>
      <%= f.text_area :charactergoals, :disabled => true, label: "What are your character's primary goals, and how do you plan to pursue these goals during the next event?" %>
      <%= f.text_area :charactergoalactions, :disabled => true, label: 'What steps has your character taken so far to achieve their goals? Were there any obstacles or challenges encountered during the event that affected your progress?' %>
      <%= f.text_area :whatdidyoudo, :disabled => true, label: 'What specific activities or encounters did your character participate in during the event? Were there any memorable moments or experiences you would like to share?' %>
      <%= f.text_area :professions, :disabled => true, label: "Are you actively engaged with your character's profession? If so, how has the event contributed to your profession's development or storyline?" %>
      <%= f.text_area :combatvsnoncombat, :disabled => true, label: "How would you rate the balance between combat and non-combat encounters during the event? Are there any types of encounters or activities you would like to see more of in future events?" %>
      <% if !@eventfeedback.newplayers.nil? %>
        <%= f.text_area :newplayers, :disabled => true, label: "Did you feel the event provided adequate support and resources for new players? If not, what suggestions do you have for improving the new player experience?" %>
      <% end %>
      <%= f.text_area :immersion, :disabled => true, label: "How well did the event maintain immersion and role-playing quality? Were there any instances where you felt immersion was disrupted, and if so, how could these be addressed in future events?" %>
    <% end %>
    
  <% end %>
  <%= link_to 'Close', event_index_path, class: "btn btn-danger" %>
  <br>
</div>