<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Player: <%= @feedback.user.firstname + ' ' + @feedback.user.lastname %> | 
      Character: <%= if !@feedback.character.nil?
        @feedback.character.name
      else
        'Cast'
      end %>    
    </p>

    --------------------<br>
    EVENT INFO<br>
    For Event: <%= @feedback.event.startdate.strftime("%m/%d/%Y") %><br>
    --------------------<br>
        
    <p>What aspects of the event did you enjoy the most, and what areas do you believe could be improved? Please provide specific examples.</p>
    <%= simple_format(@feedback.feedback) %>

    <p>How satisfied were you with the overall event organization, including scheduling, communication, and staff interactions? Please provide any suggestions for improvement.</p>
    <%= simple_format(@feedback.eventorganization) %>
    
    <p>What are your characters primary goals, and how do you plan to pursue these goals during the next event?</p>
    <%= simple_format(@feedback.charactergoals) %>
    
    <p>What steps has your character taken so far to achieve their goals? Were there any obstacles or challenges encountered during the event that affected your progress?</p>
    <%= simple_format(@feedback.charactergoalactions) %>
    
    <p>What specific activities or encounters did your character participate in during the event? Were there any memorable moments or experiences you would like to share?</p>
    <%= simple_format(@feedback.whatdidyoudo) %>
    
    <p>Are you actively engaged with your character's profession? If so, how has the event contributed to your profession's development or storyline?</p>
    <%= simple_format(@feedback.professions) %>
    
    <p>How would you rate the balance between combat and non-combat encounters during the event? Are there any types of encounters or activities you would like to see more of in future events?</p>
    <%= simple_format(@feedback.combatvsnoncombat) %>

    <% if !@feedback.newplayers.nil? %>
      <p>Did you feel the event provided adequate support and resources for new players? If not, what suggestions do you have for improving the new player experience?</p>
      <%= simple_format(@feedback.newplayers) %>
    <% end %>

    <p>How well did the event maintain immersion and role-playing quality? Were there any instances where you felt immersion was disrupted, and if so, how could these be addressed in future events?</p>
    <%= simple_format(@feedback.immersion) %>

    <p>What NPC stands out to you and why?</p>
    <%= simple_format(@feedback.standoutnpc) %>

    <p>What Player stands out to you and why?</p>
    <%= simple_format(@feedback.standoutplayer) %>

    <p>What is a memorable moment you would like to share with everyone?</p>
    <%= simple_format(@feedback.memorablemoment) %>

  </body>
</html>
